<div class="sidebar-container">
  <%= render 'shared/sidebar' %>
</div>
<div class="container2">

  <!-- <div class="dashboard-flex"> -->
  <div class="page-content">

    <div class="padding">
      <%= link_to '+ add new meal', new_meal_path,class: 'btn btn-success add-meal-button'  %>
    </div>

    <div class="key-information">

      <div class="total-earnings item">
        <h3>today's earnings</h3>
        <i class="fas fa-coins icon-3x"></i><h2>£<%= @amount_earned %> </h2>
      </div>

      <div class="cook-book item">
        <h3>cookbook</h3>
       <i class="fas fa-book icon-3x"></i> <h2>9</h2>
      </div>

      <div class="reviews item">
        <h3>reviews</h3>
        <i class="fas fa-pencil-alt icon-3x"></i> <h2>14</h2>
      </div>

    </div>

    <div style="padding-top: 15px; padding-bottom: 30px">
      <hr>
    </div>

    <h3 class="saving" style="padding-bottom: 20px;">meals currently live <span>.</span><span>.</span><span>.</span></h3>

    <div class="active-meals">
      <% @meals.each do |meal| %>
        <% unless meal.photo.blank? %>
          <div class="card-sunshine">
            <div class="meal-cards1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path meal.photo, height: 300, width: 400, crop: :fill %>'); background-repeat: no-repeat; background-size: cover;">
              <div class="avatar-meal-card">
                <%= cl_image_tag meal.user.photo.url(:bright_face), class: 'avatar'  %>
                <h3>4.7</h3>
              </div>
              <div class="card-bottom">
                <div class="name-of-food">
                  <a href="#open-modal_<%= meal.id %>">
                    <h1><%= meal.name %></h1>
                  </a>
                  <h1><strong><%= meal.pick_up_start.time.to_formatted_s(:short) %> - <%=meal.pick_up_end.time.to_s(:time)%></strong></h1>
                </div>
                <div class="price-buy-now" style="padding-bottom: 16px;">
                  <h3>Amount: <%= humanized_money_with_symbol(meal.price)%></h3>
                  <a href="#open-modal_<%= meal.id %>">
                    <button class="btn-buy-now" type="button">view</button>
                  </a>
                </div>
              </div>
            </div>
            <div class="active-info">
              <div class="remaing-portions">
                <p>remaining portions</p>
                <div class="meal-counter">
                  <i class="fas fa-utensils"></i><h2><%= meal.portions %></h2>
                </div>
              </div>
              <div class="time-remaining">
                <p>time remaining</p>
                <div class="time-left">
                  <i class="far fa-clock"></i><h2> <%= Time.at(meal.pick_up_end.time - Time.now).utc.strftime("%H:%M:%S")  %></h2>
                <!-- distance_of_time_in_words(meal.pick_up_start.time - Time.now) -->
                </div>
              </div>
              <div style="padding-right: 30px;">
                <%= link_to 'edit', edit_meal_path(meal),class: 'btn btn-success add-meal-button'  %>
              </div>
            </div>
          </div>
        <% end %>
        <%= render 'meals/modal', meal: meal %>
      <% end %>
    </div>

      <hr style="padding-bottom: 30px;">
           <div>
             <h3 class="saving" style="padding-bottom: 20px;"> order history</h3>
           </div>
             <div class="grid-order">
              <span><strong>order Id</strong></span>
              <span style="padding-right: 100px;"><strong>ordered at</strong></span>
              <span><strong>price</strong></span>
              <span style="padding-right: 200px;"><strong>meal</strong></span>
              <span><strong>location</strong></span>
              <span><strong>status</strong></span>
              <span><strong>leave review</strong></span>
              <span><strong><i class="fas fa-ellipsis-h"></i></strong></span>
              <% @user_orders.each do |order| %>
              <span><%= order.id %></span>
              <span><%= order.created_at.strftime("%b %-d, %-l.%M%P") %></span>
              <span> £<%= order.meal.price %></span>
              <span><%= order.meal.name %></span>

              <span><%= order.meal.pick_up_location %></span>
              <span>
                <% if (order.meal.pick_up_end - Time.now) >= 0 %>
                  <h4 class="saving" style="color: green; padding: none;">Need to collect <span>.</span><span>.</span><span>.</span></h4>
                <% else %>
                  <p>Order complete!</p>
                <% end %>
              </span>
              <span>
                 <% if (order.meal.pick_up_end - Time.now) >= 0 %>
                  <p> - </p>
                <% else %>
                  <a href=""><i class="far fa-edit"></i></a>
                <% end %>
                </span>
              <span> <a href=""><i class="fas fa-ellipsis-h"></i></a></span>
              <% end %>
           </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


