<div class="container">
    <div class="topdiv">
      <%= simple_form_for @meal do |f| %>
        <%= f.input :name, placeholder: "name of your meal..."%>
        <%= f.input :description,placeholder: "Add some info about your meal..", as: :text, input_html: { rows: 5 } %>
        <%= f.input :pick_up_location, placeholder: "Enter the pick up location"%>
       <%= f.input :pick_up_instructions, placeholder: "Leave a note for the customers.."%>
    </div>
  <div class="bottomdiv" style="height: 400px;">

    <div class="bottomleft">
      <%= f.input :price, placeholder: "£" %>
      <%= f.input :portions,placeholder: "e.g 5" %>
      <%= f.input :pick_up_start, placeholder: "When the meal will be available from", as: :string, required: false, input_html: { class: 'datepicker' }%>
      <%= f.input :pick_up_end,placeholder: " The meal will end at...", as: :string, required: false, input_html: { class: 'datepicker' }%>
    </div>

    <div class="bottomright">
    <%#= f.association :dietary_requirements, as: :check_boxes, label_method: :categories %>
      <label class="control-label check_boxes optional">Suitable for:  </label>
        <input type="hidden" name="post[dietary_requirement_ids][]" value="">
          <div class="category-choices">
            <% DietaryRequirement.all.each do |dietary_requirement| %>
              <div class="category-choice">
                <input type="checkbox" class="hidden" value="<%= dietary_requirement.id %>" name="post[dietary_requirement_ids][]" id="post_dietary_requirement_ids_<%= dietary_requirement.id %>">
                <label for="post_dietary_requirement_ids_<%= dietary_requirement.id %>">
                  <%= dietary_requirement.categories %>
                  <i class="fa fa-check"></i>
                </label>
              </div>
            <% end %>
         </div>
     </div>
    </div>
  <div style="padding-top: 30px; padding-bottom: 40px;">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn-all" %>
  </div>
<% end %>


