<div class="container">

  <div class="topdiv">
    <%= simple_form_for @meal do |f| %>
      <%= f.input :name %>
      <%= f.input :description, as: :text, input_html: { rows: 5 } %>
  </div>

  <div class="bottomdiv" style="height: 400px;">

    <div class="bottomleft">
      <%= f.input :price %>
      <%= f.input :portions %>
      <%= f.input :type_of %>

      <label class="form-control-label datetime optional" for="meal_pick_up_start_1i">Pick up start</label>
      <div class="">
        <div class="d-flex flex-row justify-content-between align-items-center">

        <select id="meal_pick_up_start_4i" name="meal[pick_up_start(4i)]" class="form-control mx-1 datetime optional">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16" selected="selected">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        </select>
         : <select id="meal_pick_up_start_5i" name="meal[pick_up_start(5i)]" class="form-control mx-1 datetime optional">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12" selected="selected">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
        </select>
        </div>
      </div>

      <label class="form-control-label datetime optional" for="meal_pick_up_end_1i">Pick up end</label>
      <div>
        <div class="d-flex flex-row justify-content-between align-items-center">

        <select id="meal_pick_up_end_4i" name="meal[pick_up_end(4i)]" class="form-control mx-1 datetime optional">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16" selected="selected">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        </select>
         : <select id="meal_pick_up_end_5i" name="meal[pick_up_end(5i)]" class="form-control mx-1 datetime optional">
        <option value="00">00</option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16" selected="selected">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
        <option value="42">42</option>
        <option value="43">43</option>
        <option value="44">44</option>
        <option value="45">45</option>
        <option value="46">46</option>
        <option value="47">47</option>
        <option value="48">48</option>
        <option value="49">49</option>
        <option value="50">50</option>
        <option value="51">51</option>
        <option value="52">52</option>
        <option value="53">53</option>
        <option value="54">54</option>
        <option value="55">55</option>
        <option value="56">56</option>
        <option value="57">57</option>
        <option value="58">58</option>
        <option value="59">59</option>
        </select>
        </div>
      </div>

    </div>

    <div class="bottomright">
      <fieldset class="form-group check_boxes optional meal_type_of" style="height: 100%">
        <div style="height: 100%; display: flex; justify-content: space-between; flex-direction: column;">
          <legend class="col-form-label pt-0">Type of</legend><input type="hidden" name="meal[type_of][]" value=""><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="0" name="meal[type_of][]" id="meal_type_of_0"><label class="collection_check_boxes" for="meal_type_of_0">vegan</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="1" name="meal[type_of][]" id="meal_type_of_1"><label class="collection_check_boxes" for="meal_type_of_1">vegetarian</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="1" name="meal[type_of][]" id="meal_type_of_1"><label class="collection_check_boxes" for="meal_type_of_1">contains nuts</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="1" name="meal[type_of][]" id="meal_type_of_1"><label class="collection_check_boxes" for="meal_type_of_1">contains dairy</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="1" name="meal[type_of][]" id="meal_type_of_1"><label class="collection_check_boxes" for="meal_type_of_1">halal</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="1" name="meal[type_of][]" id="meal_type_of_1"><label class="collection_check_boxes" for="meal_type_of_1">gluten free</label></div><div class="form-check"><input class="form-check-input check_boxes optional" type="checkbox" value="1" name="meal[type_of][]" id="meal_type_of_1"><label class="collection_check_boxes" for="meal_type_of_1">kosher</label></div>
        </div>
      </fieldset>
    </div>

  </div>

  <div style="padding-top: 30px; padding-bottom: 40px;">
    <%= f.button :submit, class: "btn-add" %>
  </div>

<% end %>
</div>
