<div>
<h3><%= user.email %></h3>
<p><%= user.address %></p>

<p><strong>Food:</strong></p>
<% user.meals.each do |meal| %>
<li>x<%= meal.portions %> <%= meal.name %></li>
<a href="#open-modal_<%= meal.id %>">
  <button class="btn-buy-now" type="button">add</button>
</a>
<% end %>

</div>
