<div id="open-modal_<%= meal.id %>" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close"> X </a>
    <div class="image-modal">
        <%= image_tag 'lasange.jpg' %>
    </div>
    <div class="avatar-meal-card-modal">
      <%= image_tag 'jack.png', class: 'avatar'  %>
      <h3>4.7</h3>
    </div>
    <div class="food-title">
      <h2><%= meal.name %></h2>
    </div>
    <div class="meal-description">
      <p><%= meal.description %></p>
    </div>
    <div class="pick-up-time">
      <h4>portions remaining:  <%= meal.portions %></h4>
    </div>
    <div class="pick-up-time">
      <h4> pick up between : <%= meal.pick_up_start %> <%=meal.pick_up_end%> </h4>
    </div>
    <div>
      <h4> suitable for : <%=meal.dietary_requirements%> </h4>
    </div>
    <div>
      <a href="#"><h4> read reviews of the chef </h4></a>
    </div>
    <div>
      <button class="btn-all"> BUY NOW</button>
    </div>
  </div>
</div>

