<!-- <h3 id="title"> meals in your area:  </h3> -->

<div class="searchbarindex" style="
 flex-grow: 0;
 background-color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: sticky;
 z-index: 2;
 top: 70px;
 ">
  <div class="leftdiv" style="padding-left: 16px;">
    <h3>
      <div>
        <%= form_tag meals_path, method: :get do %>
        <button class="search-button" type="submit">
          <i class="fa fa-search"></i>
        </button>
        <!-- Search bar -->
        <%= text_field_tag :query,
        '',
        placeholder: "Find food near you?", class: "index-search" %>

        <% end %>
        <!-- Search bar -->
      </div>
    </h3>
  </div>

  <div class="rightdiv" style="padding-right: 16px;">
    <h3>Filter</h3>

    <%= form_tag meals_path, method: :get do%>
      <% @diets.each do |dietary_requirement| %>
          <!-- <li> -->
            <%= check_box_tag 'dietary_requirement_ids[]', dietary_requirement.id -%>
            <%= h dietary_requirement.categories -%>
          <!-- </li> -->
      <% end %>
      <%= submit_tag "Search", class: "fa-search"%>
    <% end %>

    <!-- create a form s bit like search form but instead of textfield have checkboxes. have a filter
    button to click on whenever you check the boxes you want. When filter button (submit) is clicked you send the params to the index method of meals. Inside there you check if the params is present. if it is you retrieve the meals that meat the filter stuff by querying the database -->
  </div>
</div>

<div class="container1" style="padding-top: 0px !important;">
  <div style="width: 70%; padding: 16px; padding-bottom: 16px; display: flex;flex-wrap: wrap;flex-direction:row; justify-content: left;">
    <% @meals.each do |meal| %>
      <% unless meal.photo.blank? %>
        <div class="meal-cards1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path meal.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="avatar-meal-card">
            <%= image_tag 'jack.png', class: 'avatar'  %>
            <h3>4.7</h3>
          </div>

          <div class="card-bottom">
              <div class="name-of-food">
                <a href="#open-modal">
                  <h1><%= meal.name %></h1>
                </a>
                <h1><strong>20:00-21:00</strong><%#= meal.pick_up_start %> <%#=meal.pick_up_end%></h1>
              </div>
            <div class="price-buy-now" style="padding-bottom: 16px;">
              <h3>£4.50<%= meal.price %></h3>
              <a href="#open-modal">
                <button class="btn-buy-now" type="button">buy</button>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>   <!-- ITERATION ENDS HERE FOR THE INDEX -->
  </div>
  <div
    class="map-position" id="map"
    style="width: 30%;
    height: 84vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>



</div>

<div id="open-modal" class="modal-window">
  <!-- START -->
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>

    <div class="image-modal">
      <div>
        <%= image_tag 'lasange.jpg' %>
      </div>
    </div>

    <div class="avatar-meal-card-modal">
            <%= image_tag 'jack.png', class: 'avatar'  %>
            <h3>4.7</h3>
    </div>

    <div class="food-title">
      <h2>TITLE OF FOOD</h2>
    </div>

    <div class="meal-description">
      <p> description description description description description description description description description description description description description description descriptiondescription description description description description  </p>
    </div>

    <div class="pick-up-time">
      <h4> portions remaining : 4 </h4>
    </div>

    <div class="pick-up-time">
      <h4> pick-up time : 6pm - 8pm </h4>
    </div>
    <div>
      <h4> suitable for : veggies / vegans / nut allergies </h4>
    </div>
    <div>
      <a href="#"><h4> read reviews of the chef </h4></a>
    </div>
     <div>
      <button> BUY NOW</button>


    </div>
    </div>
</div>

