<!-- <h3 id="title"> meals in your area:  </h3> -->

<div class="searchbarindex" style="
 flex-grow: 0;
 background-color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: sticky;
 z-index: 2;
 top: 70px;
 ">
  <div class="leftdiv" style="padding-left: 16px;">
    <h3>
      <div>
        <%= form_tag meals_path, method: :get do %>
        <button class="search-button" type="submit">
          <i class="fa fa-search"></i>
        </button>
        <!-- Search bar -->
        <%= text_field_tag :query,
        '',
        placeholder: "Find food near you?", class: "index-search" %>

        <% end %>
        <!-- Search bar -->
      </div>
    </h3>
  </div>
  <div class="rightdiv" style="padding-right: 16px;">
    <h3>Filter</h3>
    <%= form_tag meals_path, method: :get do%>
      <% @diets.each do |dietary_requirement| %>
            <%= check_box_tag 'dietary_requirement_ids[]', dietary_requirement.id -%>

            <%=  dietary_requirement.categories %>
      <% end %>
      <%= submit_tag "Search", class: "fa-search"%>
    <% end %>
  </div>
</div>
<div class="container1" style="padding-top: 0px !important;">
  <div style="width: 70%; padding: 16px; padding-bottom: 16px; display: flex;flex-wrap: wrap;flex-direction:row; justify-content: left;">
    <% @meals.each do |meal| %>
      <% unless meal.photo.blank? %>
        <div class="meal-cards1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path meal.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="avatar-meal-card">
            <%= image_tag 'jack.png', class: 'avatar'  %>
            <h3>4.7</h3>
          </div>
          <div class="card-bottom">
              <div class="name-of-food">
                <a href="#open-modal_<%= meal.id %>">
                  <h1><%= meal.name %></h1>
                </a>

                <h1><strong><%= meal.pick_up_start.strftime("%I:%M%p") %> <%=meal.pick_up_end%></strong>
              </div>
            <div class="price-buy-now" style="padding-bottom: 16px;">
              <h3>£<%= meal.price %></h3>
              <a href="#open-modal_<%= meal.id %>">
                <button class="btn-buy-now" type="button">buy</button>
              </a>
            </div>
          </div>
        </div>
      <% end %>
      <%= render 'modal', meal: meal %>
    <% end %>
  </div>
  <div
    class="map-position" id="map"
    style="width: 30%;
    height: 84vh;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
