<div class="mealform">
  <ul>
  <li>Selected meal: <%= @meal.name %></li>
  <li><%= @meal.description %></li>
  <li><%= @meal.price %></li>
  </ul>
  <button type="button" class="btn-all"><%= link_to 'Edit', edit_meal_path(@meal)%></button>
  <button type="button" class="btn-all"><%= link_to 'Go back', meals_path  %></button>
  <!-- Button trigger modal -->
  <button type="button" class="btn-all" data-toggle="modal" data-target="#exampleModalCenter">
    Order
  </button>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn-all"><%= link_to "Order this menu", new_meal_order_path(@meal.id)%></button>
      </div>
    </div>
  </div>
</div>
